<header class="navbar-custom col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="brand col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="/">Hotel California</a>
    </div>
    <div class="add-btn col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="add-room  btn btn-success" ng-click='addRoom()'><span class="glyphicon glyphicon-plus"></span> Add Room</a>
    </div>
</header>
<section class='main col-xs-12 col-sm-12 col-md-12 col-lg-12'>
    <ul>
        <li class='roomlist' ng-repeat='room in rooms'>
            <a ui-sref="room({roomId:room.id})">
                <div class="hotelRoom">
                    <span>{{room.id}}</span>
                </div>
            </a>
        </li>
    </ul>
</section>
