<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Hotel California</a>
    </div>

    <ul class="nav navbar-nav">         
      <li><a href='/'>Home</a></li>
    </ul>
  </div>
</nav>

<div class='todo'>
    <h2>Todo list - Room : {{id}}</h2>

    <ul>
        <li ng-repeat='todo in todos'>
            {{todo}}<span class="trash glyphicon glyphicon-trash" ng-click='removeItem($index)'></span>
        </li>
    </ul>
    <form class="add-block">
        <input type="text" ng-model='addItem'>
        <button class="btn btn-success glyphicon glyphicon-plus" ng-click='addTodo()'></button>
        <p class='error'>{{errortext}}</p>
    </form>
</div>